swarms
pydantic
loguru
python-dotenv
swarm-models
numpy
openai
python-dotenv
pathlib
matplotlib
langchain
langchain-community
sentence-transformers
faiss-cpu
pandas
plotly
statsmodels
argparse
scipy
torch
transformers
accelerate
sentencepiece
protobuf
vllm